@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

body{
    --glowne-tlo: url("../image/tlo2.png");
    --light-pink: #EADADA;
    --dark-pink: #BF5CAA;
    margin:0;
    padding:0;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    overflow-x: hidden;
}
/* SECTION-HOME */

#section-home{
    background-image: url("../image/tlo.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    width: 100vw;
    position: relative;
}

#section-home::after{
    content:'';
    background-color: rgba(0, 0, 0, 0.5);
    position: absolute;
    height: 100vh;
    width: 100vw; 
    top:0;
}
/* FORMULARZ */

/* #send_form_status{
    border: 1px dashed var(--dark-tlo);
    display: none; 
    padding: 0 10px; 
    margin: 10px 0;
    color: var(--light-pink);
} */


.status_ok{
    margin-left: 30px;
    font-size: 1.1rem;
    color: green;
    font-weight: 400;
}

.status_err{
    margin-left: 20px;
    font-size: 1.1rem;
    color: red;
    font-weight: 400;

}
/* koniec formularz */

.nav{
    z-index: 2;
    position: relative;
    font-size: 1.5rem;
    text-transform: uppercase;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px 70px;
}

hr{
    width: 50px;
    border-color: var(--dark-pink);
   
}

.nav a:hover{
    color: var(--dark-pink);
}

.nav li, .nav a{
    display: inline-block;
    list-style-type: none;
    color: var(--light-pink);
    text-decoration: none;
    padding-left:30px;

}

h3{
    color: var(--dark-pink);
    font-size: 3rem;
    margin-bottom:0;
    font-weight: 300;
}

h1{
    color: var(--light-pink);
    font-size: 5rem;
    margin-top: 0;
    font-weight: 100;
    display: flex;
    text-align: center;
    justify-content: center;   
    flex-wrap: wrap;     
}

h1 > span{
    font-size: 2.5rem;
    margin-top: 0;
    display: flex;
    align-self: center; 
    padding-right: 20px;
  
}

.text{
    letter-spacing: 5px;
    display: flex;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    padding:0;
    z-index: 2;
    position:relative;
    top: 70px;
}

/* SECTION-ABOUT */
#section-about{
    background-image: url("../image/tlo2.png");
    height: 100vh;
    width:100vw;
    position: relative;
    /* border: 2px solid pink; */
}

.title{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: var(--light-pink);
    text-transform: uppercase;
    font-size: 2.5rem;
    letter-spacing: 5px;
    padding-top: 50px;
    margin:0;
}

.title > span{
    font-weight: bold;
}
.con{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 5%;
}

#section-about .container{
    display: flex;
    align-items: center;   
    justify-content: center;        
}

.square{
    width: 650px;
    height: 500px;
    border: 2px solid var(--light-pink);
    color: var(--light-pink);
    line-height: 25px;
    text-align: center;
    font-size: 1.5rem;
    
    display: flex;
    align-items: center;
    justify-content: center;   
   

    flex-direction: row;
    flex-grow: 0;
}

.square span{
    color: var(--dark-pink);
}

.square p{
    margin-right:120px;
    margin-left: 30px;
}

.photo-me{
    height: 400px;
    position: absolute;
    margin-left: 325px;
} 
/* SECTION SKILLS */
#section-skills{
    background-image: url("../image/tlo2.png");
    min-height: 160vh;
    width:100vw;
    position: relative;
}

.pack{
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 5% 15%;
    color: var(--light-pink);
    max-width:1000px;
}

.pack .card{
    position: relative;
    width: 270px;
    display: flex;
    justify-content: center;
    align-items: center;
    height:250px;
}

.percent:hover{
    transform: translateY(-10px);
    box-shadow: 0 5px 35px var(--light-pink);
}

.percent{
    position: relative;
    height: 150px;
    width: 150px;
    border-radius: 50%;
    box-shadow: inset 0 0 50px #000;
    background: #222;
    z-index: 2;
    transition: 0.5s;
}

.percent .number{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
}

svg{
    position: relative;
    width: 150px;
    height:150px;
    z-index: 2;
}

svg circle{
    width: 100%;
    height:100%;
    fill: none;
    stroke: #191919;
    stroke-width: 10;
    stroke-linecap: round;
    transform: translate(5px, 5px);
}

svg circle:nth-child(2){
    stroke-dasharray: 440;
    stroke-dashoffset: 440;
}

.card:nth-child(1) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
    stroke: var(--dark-pink);
}

.card:nth-child(2) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
    stroke: var(--dark-pink);
}

.card:nth-child(3) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 40) / 100);
    stroke: var(--dark-pink);
}

/* next */
.card:nth-child(4) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 70) / 100);
    stroke: var(--dark-pink);
}

.card:nth-child(5) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 60) / 100);
    stroke: var(--dark-pink);
}

.card:nth-child(6) svg circle:nth-child(2){
    stroke-dashoffset: calc(440 - (440 * 50) / 100);
    stroke: var(--dark-pink);
}

.ps{
    width:70px;
    height:70px;
}

.xd{
    width:70px;
    height:70px;
    background-color: var(--light-pink);
    display: flex;
    align-items: center;
    justify-content: center;
}

.xd >p{
    color: #000;
    font-size: 30px;
    font-weight: bold;
}

/*SECTION-SKILLS - PRAKTYCZNE PODSTAWY */
.practical{
    display: flex;
    flex-direction: column;
    align-items: center;
    letter-spacing: 3px;
    padding-top: 70px;
}

.practical >h1{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300;
}

.practical >ul{
    color: var(--light-pink);
    list-style-type: none;
    font-size: 1.5rem;
    margin:0;
    line-height: 35px;
    text-align: center;
 
}


/* SECTION-PROJECTS */
#section-projects{
    background-image: url("../image/tlo2.png");
    min-height: 110vh;
    width:100vw;
    position: relative;
}

.projects .boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top:40px;
}

.box2{
    background-image: url("../image/copiak/copiak1.jpg");
}
.box3{
    background-image: url("../image/okladka2.jpg");
}
.box4{
    background-image: url("../image/Adobe_XD/xd1.jpg");
}
.box5{
    background-image: url("../image/wizytowka-moja-front.jpg");
}
.box6{
    background-image: url("../image/project6.jpg");
}

.projects .box{
    width: 480px;
    height: 300px;
    margin: 5px;
    position:relative;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    color: var(--light-pink);
}

/* .boxy:hover::after{ */
 
.box1{
    background-image: url("../image/fryzjer1.jpg"); 
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}   

.cover{
    opacity:0;
    display: flex;
    justify-content: center;
    align-items: center;
    /* animation: animkaout 0.4s; */
}

.cover:hover{
    background-color: rgba(0, 0, 0, 0.7);
    opacity: 1;
    width: 480px;
    height: 300px;
    animation: animka 0.4s;
    display: flex;
}

.description{
    line-height: 20px;
    letter-spacing: 1px;
    box-sizing: border-box;
    width: 420px;
    height: 250px;
    border: 2px solid var(--light-pink); 
    flex-direction: column;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

@keyframes animka{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

.description h4{
    font-weight: 300;
    font-size: 2.5rem;
}


/* SECTION-CONTACT*/
#section-contact{
    background-image: url("../image/tlo2.png");
    min-height: 100vh;
    width:100vw;
}

#section-contact .container{
    display:flex;
    justify-content:space-between;
    flex-direction:row;
    align-items: center;
    margin: 0 20%;
    padding-top: 30px;
}

.container .information{
    display: flex;
    flex-direction: column;
    margin-top: -40px;
}

.container .information >i{
    padding: 30px;
    display:flex;
    flex-direction: row;
}

.container .information>i >p{
    color: var(--light-pink);
    font-size: 1.7rem;
    padding-left: 70px;
    font-weight: 300;
    font-family: 'Lato', sans-serif;
}

.fa-map-marker-alt{
    margin: 20px;
}

.information .far{
    color: var(--dark-pink);
}
.information .fas{
    color: var(--dark-pink);
}
    /* SECTION-CONTACT FORM */
form{
    display: flex;
    flex-direction: column;
    padding-bottom:20px;    
    padding: 40px;
}

form .area{
    background-color: var(--light-pink);
    border-radius: 24px;
    padding-left: 30px;
    font-size: 1rem;
    color: rgba(0, 0, 0, 0.5);
    border: 0px;
    margin: 10px;
    box-sizing: border-box;
}


form .area:hover{
    border: 2px solid var(--dark-pink);
    border-radius: 24px;
}

form .field{
    width: 400px;
    height: 55px;
}

.textarea{
    background-color: var(--light-pink);
    width: 400px;
    height: 250px;
    padding: 20px;
    font-size: 1rem;
    font-family: 'Lato', sans-serif;
}

.send{
    display: flex;
    align-self: flex-end;
    width: 100px;
    height: 40px;
    cursor: pointer;
}

/*FOOTER */
footer{
    background-image: url("../image/tlo2.png");
    height: 10vh;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--light-pink);
    font-size: 1.3rem;
    width:100vw;
}
footer >span{
    color: var(--dark-pink);
}

.social{
    display: flex;
    flex-direction: column;
    color: var(--light-pink);
    font-size: 35px;
    position: fixed;
    align-items: center;
    z-index:1;
    left: 20px;
    bottom: 40px;
}

.social .fab{
    padding: 10px;
}

.social a{
    text-decoration: none;
    color: var(--light-pink);
    transition: all 1s;
}

.social a:hover{
    color: var(--dark-pink);
    transform: translate(20px);
}
@media(max-width: 800px) {   
    .nav{
        z-index: 2;
        position: relative;
        font-size: 1rem;
        display: flex;
        flex-direction: column;
        align-items: flex-end;
        justify-content: flex-end;
        float:right;
    }
    
    hr{
        opacity: 0%;  /*tak moge schować te kreski*/
    }

    .nav a{
        float:right;
    }

    ul{
        display: flex;
        flex-direction: column;
    }
    /* */
    h3{
        font-size: 2rem;
    }
    
    h1{
        font-size: 3rem;
    }
    
    h1 > span{
        font-size: 1.3rem;
    }
    
    .text{
        letter-spacing: 3px;
        top:250px;
        left: 150px;
    }

        /* SECTION-ABOUT */
    #section-about{
        height: 100vh;
    }

   .con{
          margin-top: 15%;
    }
    
    .title{
        font-size: 2rem;
        letter-spacing: 3px;
    }

    .square{
        width: 550px;
        height: 400px;
        font-size: 1.3rem;
    }

    .photo-me{
        width: 170px;
        height: 300px;
        margin-left: 275px;
    } 

    /* SECTION SKILLS */
    .pack{
        display: flex;
        flex-direction: column;
    }

    /* SECTION-PROJECTS*/
    .projects .box{
        margin-bottom: 25px;
    }

    /* SECTION-CONTACT*/
    #section-contact .container{
        display:flex;
        flex-direction:column;
        align-items: center;  
        padding-top: 60px;  
    }
    .container .information >i{
        padding: 20px;
      
    }
    .container .information>i >p{
        font-size: 1.5rem;
    }

    .information .far{
        font-size: 70px;
        padding: 20px;

    }
    .information .fas{
        font-size: 70px;
    }
  }
  
#topBtn{
    position: fixed;
    bottom: 40px;
    right:30px;
    font-size: 35px;
    width: 40px;
    height: 40px;
    border: none;
    cursor: pointer;
    background-color: var(--light-pink);
    border-radius: 50%;
    z-index:1;
    transition: all 1s;
}

#topBtn:hover{
    transform: translate(0px, -20px);
    background-color: var(--dark-pink);

}
  
/*___POP UP _____*/

.popup-content{
    margin: 0 10%;
}
.popup-text{
    margin-top: 60px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    min-width:50px;
   
}

.popup-text .info, .technology{
    width: 700px;
    text-align:left;
    padding: 40px;
}

.info a{
    color: var(--dark-pink);
    /* text-decoration: none; */
}

.popup-text .technology{
    width: 400px;
}
.popup-text h3{
    font-size: 2rem;
    text-transform: uppercase;
    font-weight: 300; 
}

.popup-content hr{
    width: 400px;
    border-color: var(--dark-pink);
}

.popup-text p{
    color: var(--light-pink);
    font-size: 1.5rem;
}

.primary .ksiazka{
    width: 600px;
    height: 500px;
}
.mockup .okladka{
    width: 750px;
    height: 600px;
}
.mockup{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    margin:0% 5%;
    margin-bottom: 7%;
}

.mockup .kreacja-marki{
    width: 700px;
    height: 400px;
    padding-top: 30px;
}

#poziom{
    width: 700px;
    height: 400px;
    padding-top: 30px;
}

/* FRYZJER - 1*/
.primary{
    display: flex;
    justify-content: center;
}
.primary >img{
    padding-top: 70px;
    padding-bottom: 70px;
    width: 700px;
    height: 450px;
}

.hairdresser{
    transition: transform 0.4s; 
    width: 770px;
    height:400px;
    padding-top: 90px;
}


/* KSięga znaku -2*/
.mockup .copiak{
    width: 370px;
    height: 600px;
    padding: 20px;
}

.mockup .photo{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    padding:40px;
}

/* POP_UP CSS*/
.pop-button {
    background:rgba(0, 0, 0, 0.0);
    border: 0;
    color: var(--dark-pink);
    cursor: pointer;
    position:absolute;
    right: 10px;
    bottom: 10px;
    border-radius: 5px;
    transition: all 0.5s ease-in-out;
}
  
.pop-button:hover, 
.pop-button:focus {
    transform: scale(1.2, 1.2);
    border: 0;
    text-decoration: none;
}

.section-pop_up {
    background-image: url("../image/tlo2.png");
    display: none;
    position: fixed;
    z-index: 5;
    left: 0;
    top: 0;
    height: 100vh;
    width: 100vw;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
    animation: modalopen 1s;
}
  
.close {
    color: #ccc;
    float: right;
    font-size: 60px;
    color: #fff;
   
}
  
.close:hover,
.close:focus {
    color: var(--dark-pink);
    text-decoration: none;
    cursor: pointer;
}
  
@keyframes modalopen {
 from {
   opacity: 0;
}
 to {
    opacity: 1;
   }
 }